@charset "UTF-8";
#content_form {
	width: 1000px; 
	height:480px; 
	margin: 20px auto 0px;
	}
#idConfirmResult, #pwChkResult, #emailConfirmResult{
	text-align: left; 
	padding-left: 30px;
}
#content_form table {
	width:70%; 
	margin: 60px auto 0;
}
#content_form table tr { 
	background-color: #FFFFFF; 
	height:100px; 
}
#content_form td, #content_form th {
	text-align: center; 
	padding:5px; 
}
#content_form caption {
	font-size: 2.6em; 
	padding: 10px;
	margin-bottom: 10px;
	color: #50BCDF;
}
#content_form h2, #content_form b{
	text-align: center; 
	color:red;
}
#content_form a { 
	text-decoration: none; 
	color:black;
}
#content_form .left{
	text-align: left;
}
#content_form .paging {
	text-align: center;
}
#content_form input:not(.btn) {
	width: 60%; 
	height: 55px; 
	background-color: #F1F3F5;
	border: none;
	font-size: 1.1em;
	padding-left: 20px;
}
#content_form input::placeholder {
	font-weight: bold;
}
#content_form input:focus {
	outline: 1px solid #50BCDF;
}
#content_form .btn {
	color: #000000;        	
	background: #50BCDF;
	border: 0;              
	width: 30%;              
	padding:5px 0; 
	margin: 10px 2px;
	height: 40px;
	cursor: pointer;
}
#content_form p {
	margin: 23px 0 100px 572px;
	font-size: 0.8em;
	color: #333333;
}
.light {
	color: #ADB5BD;
}